/* ----------------head_navitation------------------- */
.nav {
    float: right;
}

.nav_head {
    margin:0 10%;
    width: 1200px;
}

/* ----------------------modal---------------------- */
.modal-body>input {
    display: block;
    margin: 15px auto;
}

.vcode {
    width: 80px;
}

/* ------------------------title------------------- */
.title {
    width: 1600px;
    height: 100px;
    background-color: #FFDA44;
    overflow: hidden;
}

.title img {
    margin-top: 10px;
    margin-left: 8%;
}

.title a {
    display: inline-block;
    color: #000;
    line-height: 35px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 4px 20px;
    text-decoration: none;
}

.title a.active {
    border-bottom: 4px solid #000;
}

.second_title {
    float: right;
    width: 1000px;
    height: 100px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
    left: -50px;
}

/* --------------------主要物品导航----------------- */
.nav_and_img {
    margin: 0 10%;
    width: 1200px;
    height: 330px;
}

.nav_main {
    float: left;
    width: 300px;
    height: 300px;
    margin: 15px 0;
}

.nav_main img {
    width: 25px;
    height: 25px;
}

.nav_main span {
    margin-left: 20px;
}

.nav_main span a {
    color: #979797;
    font-size: 12px;
    margin: 3px;
}

.nav_main span a:hover {
    color: #9dc91c;
}


/* ------------二级导航------------ */
.second_nav a {
    float: left;
    color: #979797;
    font-size: 12px;
    margin: 3px;
}

.second_nav dt {
    border-left: 4px solid #FFDA44;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.second_nav {
    display: none;
    width: 450px;
    height: 200px;
    z-index:2;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e4ecf3;
    box-shadow: 1px 2px 3px #f2f6f8;
}

.nav_main ul li:hover > .second_nav {
    display: block;
    position: absolute;
    left: 300px;
    top: -1px;
}

.second_nav_box {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 180px;
}

/* ------------图片混动------------ */
.img_carousel {
    float: left;
    width: 600px;
    height: 180px;
    margin: 35px 20px;
    z-index:1;
}

/* --------------Personal Center------------ */
.personal_center {
    width: 250px;
    height: 280px;
    float: left;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #e4ecf3;
    box-shadow: 1px 2px 3px #f2f6f8;
}

.personal_center img {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

.personal_center p {
    display: inline-block;
    font-size: 14px;
    font-style: initial;
    color: #3273dc;
    position: relative;
    left: 30px;
    top: 10px;
}

/* -----------------返回最上---------------- */
.back_to_top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 7%;
    border-radius: 5px;
    border: 3px solid #e4ecf3;
    box-shadow: 1px 2px 3px #f2f6f8;
}

.back_to_top img {
    width: 20px;
    height: 20px;
    margin: 13px;
}

/* -------------------sell------------------ */
.sell_one {
    width: 1550px;
    height: 70px;
    margin-bottom: 20px;
}

.sell_one>p {
    font-weight: bold;
    font-size: 36px;
    color: #504A4D; 
}

.sell_one span {
    color: #504A4D;
}

.slide_container {
    width: 100%;
    height: 350px;
}

.slide_second {
    width: 1350px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.slide_pic {
    width: 2800px;
    height: 215px;
    margin-left: 11%;
}

.slide_pic img {
    width: 363px;
    height: 200px;
    margin: 5px 17px;
    float: left;
}

.left_ico {
    position: relative;
    top: -210px;
    left: 50px;
    width: 50px;
    height:　50px;
}

.right_ico {    
    position: relative;
    top: -210px;
    left: 1340px;
    width: 50px;
    height:　50px;

}

